@charset "UTF-8";

/* ----------header------------ */
.wrap {width: 1240px; margin: 0 auto;}
#header {width: 100%; height: 1000px;}
.headTop h1 {background: url("../images/netmarble_logo.png")no-repeat 100% 100% / cover; width: 270px; height: 45px; cursor: pointer; text-indent: -9999px; float: left; margin-top: 40px;}
.headTop {width: 100%; height: 120px; background: #FFC905; position: fixed; z-index: 1000; left: 50%; transform: translate(-50%);}
.gnb {width: 720px; float: left; margin-left: 150px; margin-top: 45px; }
.gnb li {float: left; width: calc(720px / 6); text-align: center;}
.gnb li a { line-height: 40px; text-align: center; color: #fff;}
.gnb li a:hover {color: #553A31;}
.conversion {float: right; height: 40px; border: 1px solid #EE3F22; margin-top: 45px;}
.conversion ul {}
.conversion ul li {float: left;}
.conversion ul li a {width: 40px; line-height: 40px; text-align: center; display: block; color: #fff;}
.conversion ul li:first-child {}
.conversion ul li.on {background: #EE3F22;}

.toggleMenu {width: 50px; height: 50px; float: left; position: relative; display: flex; justify-content: center; align-items: center; top: -40px; display: none;}
.toggleMenu div{width: 30px; height: 2px; background: #fff; border-radius: 2px; position: absolute;}
.toggleMenu .bar1 {transform: translateY(10px);}
.toggleMenu .bar2 {}
.toggleMenu .bar3 {transform: translateY(-10px);}

/* ----------slider------------ */
.sliderWrap .sliderTxt {position: absolute; left: 50%; top: 60%; transform: translate(-50%); color: white; text-align: center;}
.slider li img {width: 100%;}
.sliderWrap li.slider1st, .sliderWrap li.slider2st {background-repeat: no-repeat; background-position: center; background-size: cover; height: 1000px; position: relative;}
.sliderWrap li.slider1st {background-image: url("../images/bg_main01.png");}
.sliderWrap li.slider2st {background-image: url("../images/bg_main01.png");}
.bx-wrapper {-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; border: 0 none; margin-bottom: 0;}
.bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/controls.png) no-repeat -43px -32px;
}

/* ----------contents------------ */
.contList {width: 1240px; margin: 0 auto; display: flex; flex-wrap: wrap; margin-bottom: 80px;}
.contList>li {width: 25%; height: 310px; text-align: center; position: relative;}
.contList>li>a>img {position: absolute; left: 50%; top: 30%; transform: translate(-50%);}
.contList>li>a>p {position: absolute; left: 50%; top: 65%; transform: translate(-50%); color: #fff; font-weight: bold;}
.contList>li:nth-child(2) a p, .contList>li:nth-child(4) a p {color: #444;}

.contList>li:nth-child(2) {padding: 40px; text-align: left;}
.contList>li:nth-child(2) h2 {font-size: 22px; margin-bottom: 14px;}
.newsList {position: relative;}
.newsList li + li {margin-top: 12px;}
.newsList li a {font-weight: bold; color: #444;}
.newsList li span {position: absolute; right: 0; color: #888;}
.txtLine {width:450px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}


.contList>li:nth-child(1) {background-image: url("../images/contlist01.png");}
.contList>li:nth-child(2) {width: 50%;}
.contList>li:nth-child(3) {background-image: url("../images/contlist03.png");}
.contList>li:nth-child(4) {background-image: url("../images/contlist04.png");}
.contList>li:nth-child(5) {background-image: url("../images/contlist05.png");}
.contList>li:nth-child(6) {background-image: url("../images/contlist06.png"); width: 50%;}
.contList>li:nth-child(7) {background-image: url("../images/contlist07.png");}
.contList>li:nth-child(8) {background-image: url("../images/contlist08.png"); width: 50%;}
.contList>li:nth-child(9) {background-image: url("../images/contlist09.png");}



.vision {width: 100%; height: 700px; background-image: url("../images/bg_vision.png");}
