@charset "UTF-8";

/* ----------header------------ */
.wrap {width: 1240px; margin: 0 auto;}
.header {width: 100%; height: 1000px; margin-bottom: 800px;}
.logo {background: url("../images/netmarble_logo.png")no-repeat 100% 100% / cover; width: 270px; height: 45px; cursor: pointer; text-indent: -9999px; float: left; margin-top: 40px;}
.headTop {position: fixed; z-index: 1000; width: 100%; background: #FFC905; transition: 0.6s; height: 120px;}
.headTop.fixed {background: #EE3F22;}
.gnb {width: 780px; float: left; margin-top: 45px; margin-left: 80px;}
.menuBtn {display: none;}
.gnb>li {float: left; width: calc(780px / 6); text-align: center; position: relative;}
.gnb>li>a {display:inline-block; line-height: 40px; text-align: center; color: #fff; font-size: 18px;}
.gnb>li>a:after, .lnb>li>a:after {content: ''; display:block; border-bottom: solid 3px #553A31; transform: scaleX(0); transition: 0.2s ease-in-out;}
.gnb>li>a:hover:after, .lnb>li>a:hover:after {transform: scaleX(1);}

.lnb {display: none; padding-top: 10px;}
.lnb>li {}
.lnb>li>a {display:inline-block; padding: 10px 0; line-height: 30px; text-align: center; color: #fff; font-size: 18px; }
.conversion {float: right; height: 40px; border: 1px solid #553A31; margin-top: 45px;}
.conversion ul li {float: left;}
.conversion ul li a {width: 39px; line-height: 39px; text-align: center; display: block; color: #fff; font-size: 14px;}
.conversion ul li.on {background: #553A31;}

.toggleMenu {width: 50px; height: 50px; position: relative; display: flex; justify-content: center; align-items: center; display: none;}
.toggleMenu div {width: 24px; height: 2px; background: #fff; border-radius: 2px; position: absolute; transition: 0.3s;}
.toggleMenu .bar3 {transform: translateY(-10px);}
.toggleMenu .bar2 {}
.toggleMenu .bar1 {transform: translateY(10px);}


/* ----------slider------------ */
.slider li img {width: 100%;}
.sliderWrap li.slider1st, .sliderWrap li.slider2st {background-repeat: no-repeat; background-position: center; background-size: cover; height: 1000px; position: relative;}
.sliderWrap li.slider1st {background-image: url("../images/bg_main01.png");}
.sliderWrap li.slider2st {background-image: url("../images/bg_main01.png");}
.sliderWrap .sliderTxt {position: absolute; left: 50%; top: 60%; transform: translate(-50%); color: #222; text-align: center; font-weight: bold;}
.bx-wrapper {-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; border: 0 none; margin-bottom: 0;}
.bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-controls-direction a {z-index: 100;}

/* ----------contents------------ */
.contents {height: 700px;}
.contList {width: 1240px; margin: 0 auto; display: flex; flex-wrap: wrap; position: absolute; left: 50%; top: 690px; transform: translate(-50%,0);}
.contList>li {width: 25%; height: 310px; text-align: center; position: relative; display: flex; align-items: center; justify-content: center; transition: 0.3s;}
.contList>li:nth-child(2) {width: 25%; height: 310px; text-align: center; position: relative; display: block;} /* news 제외 */
.contList .contMoBox {}
.contList .contTit {color: #fff; font-size: 16px; font-weight: bold;}
.contList .contMoTit {color: #fff; font-size: 16px; font-weight: bold;}
.contList .contMoBox .contMoBg {display: none;}
.contList .contTxt, .contList .contBtn, .contList .contMoTxt, .contList .contMoBtn  {display: none;}

/* no.2 news */
.contList>li:nth-child(2) {padding: 40px; text-align: left;}
.contList>li:nth-child(2) .newsTit {font-size: 22px; margin-bottom: 35px; color: #444;}
.newsList {position: relative;}
.newsList li:hover a {color: #FFC905;}
.newsList li + li {margin-top: 14px;}
.newsList li span {position: absolute; right: 0; color: #888;}
.newsList .more a {position: absolute; right: 0; top: -35px; color: #888;}
.txtLine {width:450px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.txtLine a {font-weight: bold; color: #444;}

/* no.4 사업소개 */
.contList>li:nth-child(4) .contMoTit {color: #444;}

/* no.6,7,8 introduce */
.contList .intro {padding: 40px;}
.contList .introTit {font-size: 22px; margin-bottom: 30px; color: #fff; text-align: left;}
.contList .introTit:after {content: ''; display: block; width: 85px; height: 1px; background: #fff; margin-top: 17px;}
.contList .introTxt {width: 100%;font-size: 16px; color: #fff;  line-height: 25px; font-weight: bold; text-align: left;}

/* contents List (bg) */
.contList>li:nth-child(1) {background-image: url("../images/contlist01.png");}
.contList>li:nth-child(2) {width: 50%; background: #fff;}
.contList>li:nth-child(3) {background-image: url("../images/contlist03.png");}
.contList>li:nth-child(4) {background-image: url("../images/contlist04.png");}
.contList>li:nth-child(5) {background-image: url("../images/contlist05.png");}
.contList>li:nth-child(6) {background-image: url("../images/contlist06.png"); width: 50%;}
.contList>li:nth-child(7) {background-image: url("../images/contlist07.png");}
.contList>li:nth-child(8) {background-image: url("../images/contlist08.png"); width: 50%;}
.contList>li:nth-child(9) {background-image: url("../images/contlist09.png");}

/* contents List (hover) */
.contList>li>div {transform: scale(1);}
.contList>li:nth-child(1):hover {transform: scale(1.1);}
.contList>li:nth-child(2) {width: 50%; background: #fff;}
.contList>li:nth-child(3) {background-image: url("../images/contlist03.png");}
.contList>li:nth-child(4) {background-image: url("../images/contlist04.png");}
.contList>li:nth-child(5) {background-image: url("../images/contlist05.png");}
.contList>li:nth-child(6) {background-image: url("../images/contlist06.png"); width: 50%;}
.contList>li:nth-child(7) {background-image: url("../images/contlist07.png");}
.contList>li:nth-child(8) {background-image: url("../images/contlist08.png"); width: 50%;}
.contList>li:nth-child(9) {background-image: url("../images/contlist09.png");}

/* ----------vision------------ */
.vision {height: 700px; background: url("../images/bg_vision.png")no-repeat center fixed; background-size: cover; margin-bottom: 80px;}
.viIntro {text-align: center; padding-top: 70px; margin-bottom: 100px;}
.viIntro .viTit {width: 270px; font-size: 22px; color: #fff; margin: 18px auto;}
.viIntro .viTit:after {content: ''; display: block; width: 100%; height: 1px; background: #fff; margin-top: 17px;}
.viIntro .viTxt {color: #fff; margin-bottom: 50px; margin: 0 auto;}

.viList {width: 900px; color: #fff; margin: 0 auto;}
.viList li {float: left; width: calc( ( 100% - 60px ) / 3); height: 380px; border-radius: 10px; transition: 0.2s; cursor: pointer;}
.viList li:hover {box-shadow: 8px 8px 10px rgba(0,0,0,0.5); transform: translate(-10px,-10px); background: rgba(255,255,255,0.3);}
.viList li + li{margin-left: 20px;}
.viList li img {display: block; margin: 0 auto; padding-top: 70px;}
.cardTxt {text-align: center;}
.cardTxt h3 {font-size: 22px; padding: 20px 0;}

/* ----------newGame------------ */
.newGame {margin-bottom: 80px;}
.newGameIntro {width: 310px; height: 600px; text-align: center; background: #2E4D8E; float: left; color: #fff; display: flex; align-items: center; justify-content: center;}
.newGameIntro img {width: 100px;}
.newGameIntro h3 {font-size: 30px; margin: 30px 0 60px 0;}
.newGameIntro p {width: 200px; margin: 0 auto;}

.gameList {display: flex; flex-wrap: wrap; width: 930px; margin: 0 auto;}
.gameList li {width: 310px; height: 600px; display: block;}
.newGameBg {position: relative;}
.newGameBg img {display: block; transition: 2s; transform: skewX(0);}
.newGameBg:hover {display: block;transform: skewX(1);}
.newgameCard {height: 300px; padding: 30px; position: relative; background: #e7e7e7;}
.newgameCard h3 {display: inline-block; font-size: 20px; margin-bottom: 20px;}
.newgameCard span {color: #666; font-size: 16px; font-weight: bold; padding-left: 15px;}

.appBtn {position: absolute; bottom: 30px; right: 30px;}
.arrowUp {position: absolute; bottom: 0; left: 50%; transform: translate(-50%); width: 0; height: 0; border-bottom: 20px solid #e7e7e7;border-left: 20px solid transparent; border-right: 20px solid transparent;}
.arrowDown {position: absolute; top: 0; left: 50%; transform: translate(-50%); width: 0;	height: 0; border-top: 20px solid #e7e7e7; border-left: 20px solid transparent;	border-right: 20px solid transparent;}

/* ----------banner------------ */
.banner {color: #fff; margin-bottom: 80px;}
.sort {display: flex; flex-wrap: wrap;}
.social {width: 620px; height: 310px; padding: 50px; background-image: url("../images/bg_social.png");}
.social h3, .hr h3 {font-size: 36px;}
.social h3:after, .hr h3:after {content: ''; display: block; width: 133px; height: 2px; background: #fff; margin: 15px 0 20px 0;}
.social p, .hr p  {margin-bottom: 25px;}
.hr {width: 620px; height: 310px; padding: 50px; background-image: url("../images/bg_hr.png");}
.hr h3 {}
.hr p {}
.bannerBtn {width: 170px; height: 50px; color: #fff; background: rgba(255,255,255,0.1); border: 1px solid #fff; cursor: pointer;}

/* ----------footer------------ */
.footer {width: 100%; height: 140px;}
.footer:before {content: ''; display: block; width: 100%; height: 1px; background: #444; margin-bottom: 20px;}
.ftSort {display: flex; justify-content: space-between;}
.footer_logo {background: url("../images/netmarble_logo2.png")no-repeat 100% 100% / cover; width: 270px; height: 45px; cursor: pointer; text-indent: -9999px;}
.topBtn {width: 80px; height: 80px; cursor: pointer; background: #EE3F22; display: flex; justify-content: center; align-items: center; border-radius: 40px; position: fixed; right: 50px; bottom: 50px; animation: viewTop 1s infinite alternate; transition: 0.3s; opacity: 0;}
.topBtn.view {opacity: 1;}
@keyframes viewTop {
  to {transform: translateY(-10px);}
}
.topBtn img {display: none;}
.topBtn span {font-size: 14px; color: #fff;}
.corp {width: 550px;}
.corp ul {display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 20px;}
.corp ul li + li {margin-left: 30px;}
.corp ul li a {}
.fmSite select {width: 190px; height: 45px; color: #444; text-indent: 12px;}

/* ----------subPage------------ */

/* ----------company------------ */
.header {position: relative; width: 100%; height: 200px;}
.header.company {height: 450px; background-image: url("../images/sub_bg_company.png");}
.headTop.company {width: 100%; height: 120px; background: none; position: fixed; z-index: 1000; left: 50%; transform: translate(-50%);}
.gnb.company {position: absolute; margin-left: 350px;}
.companyIntro {display: block; width: 100%; height: 200px; padding-top: 170px; color: #fff; text-align: center;}
.companyIntro .companyTit {font-size: 35px; margin-bottom: 20px;}
.companyIntro .companyTxt {font-size: 18px;}
.subMenu {width: 1240px; margin: 0 auto; display: block; position: absolute; bottom: 0; left: 50%; transform: translate(-50%); border-bottom: 1px solid #EE3F22;}
.subMenu li {float: left; width: 25%;}
.subMenu li a {display: block; line-height: 50px; text-align: center; color: #444; background: #F3F3F3;}
.subMenu li.active a {background: #EE3F22; color: #fff;}



/* ---- */
