@charset "UTF-8";


.wrap {width: 1000px; margin: 0 auto; }
.blind {text-indent: -9999px;}
fieldset {border: 0 none; }
legend {display: block; position: absolute;left: 0; top: -9999px;}
body {min-width:1200px; background: url(../img/bg01.png) no-repeat; background-size: cover;}

/*--------animation----------*/
.ani_wrap {width: 100%; height: 1380px; overflow: hidden; position: absolute;}
.ani01 {
    position: absolute; top: 200px; left: 100px; 
    animation-name: ani01;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.ani02 {
    position: absolute; left: -1000px; bottom: -300px;
    animation-name: ani02;
    animation-duration: 10s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}

.ani03 {
    position: absolute; right: 650px; top: 500px;
    animation-name: ani03;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transform: rotate(-20deg);
}

.ani04 {
    position: absolute; left: 350px; bottom: 100px;
    animation-name: ani04;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transform: scale(0.1);
}

.ani05 {
    position: absolute; right: 100px; top: 500px;
    animation-name: ani05;
    animation-direction: alternate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes ani01 {
    to{top: 250px;}
}

@keyframes ani02 {
    to {left: 100%; bottom: 100%; transform: scale(0.3);}
}

@keyframes ani03 {
    0% {transform: rotate(-20deg); top: 150px;}
    25% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    75% {transform: rotate(20deg);}
    100% {transform: rotate(-20deg);}
}

@keyframes ani04 {
    to {left: 100px; bottom: 300px; transform: rotate(60deg);}
}

@keyframes ani05 {
    to {top: 600px; transform: scale(0.8);}
}



/*----------header----------*/
.hTop {width: 100%; height: 90px; background: #0d72a8 url(../img/header_top_img.png) no-repeat center;}
.logo {float: left; background: url(../img/logo.png) no-repeat; width: 145px; height: 50px; margin-top: 20px; margin-right: 130px; display: block; cursor: pointer;}

.search {width: 300px; height: 30px; background: #fff; border-radius: 30px; border:0; position: relative; float: left; margin-top: 30px; }
.search label {position: absolute; left: 15px; top: 5px; font-size: 14px; color: #343b41; font-weight: bold;}
.input_search {width: 200px; margin-left: 85px; border:0; font-size: 12px; height: 30px;}
.input_search:focus, .btn-submit:focus {outline: 0;}
.btn-submit {position: absolute; border: 0 none; width: 22px; height: 22px; background: #fff url(../img/search_icon.png) no-repeat 3px; right: 15px; top: 4px; cursor: pointer;}

.subMenu {float: right; margin-top: 25px; width: 340px;}
.subMenu h2 {float: left; color: #fff; font-size: 24px; font-weight: bold;}
.subMenu ul {float: right; margin-top: 4px;}
.subMenu ul li {float: left; width: 24px; height: 24px; background: url(../img/sns_icon.png) no-repeat; border-radius: 10%;}
.subMenu ul li:nth-child(2) {background-position: -24px 0;}
.subMenu ul li:nth-child(3) {background-position: -48px 0;}
.subMenu ul li:nth-child(4) {background-position: -72px 0;}
.subMenu ul li + li {margin-left: 6px;}
.subMenu ul li a {display: block;}

.hBtm {width: 100%; height: 60px; background: #fff; border-bottom: 5px solid #0e73a7;}

.gnb {}
.gnb li {float: left; width: calc(1000px / 6); border-left: 1px solid #e7e7e7;}
.gnb li:last-child {border-right: 1px solid #e7e7e7;}
.gnb li a {display: block; line-height: 56px; font-size: 18px; text-align: center; font-weight: bold;}
.gnb li a:hover {color: #0e73a7;}
/*----------company_menu----------*/
.gnb li a.menu-company {color: #0e73a7;}

/*----------contents----------*/

.contents { padding-top: 55px; height: 1125px; position: relative; }
.conTop {}
.ct_left {float: left; position: relative; width: 485px; height: 560px;}

.reservation {}
.reservation li {padding: 15px 10px 10px 155px;}
.reservation li a {}
.reservation_form {width: 300px;}
.reservation_form label {display: block; font-weight: bold; margin-bottom: 5px;}
.reservation_form select {width: 100%; border-radius: 3px; border: 1px solid #aaa; height: 35px; text-indent: 8px; font-weight: bold; margin-bottom: 10px; font-size: 14px;}
.reservation_form .reLeft, .reservation_form .reRight {float: left;}
.reLeft input, .reRight input {border-radius: 3px; border: 1px solid #aaa; height: 35px; text-indent: 8px; font-weight: bold; margin-bottom: 10px; width: 140px; font-size: 12px;}
.reRight {margin-left: 20px;}
.reRightNum {float: left; margin-left: 36px;}
.reservation_form .reRightNum input {border-radius: 3px; border: 1px solid #aaa; height: 35px; text-indent: 8px; font-weight: bold; margin-bottom: 10px; width: 57px;}
.btn-reserv {height: 40px; line-height: 35px; width: 100%;  color: #fff; font-size: 18px; border-radius: 5px; background-color: #ea4f1f; background-image: url(../img/reserv_icon.png); background-repeat: no-repeat; background-position: 90px 10px; cursor: pointer; border: 1px solid #aaa;}

.Tap {position: absolute; top: 0; left: 0;}
.Tap .active {background: #fff; color: #535353; font-weight: bold;}
.Tap li {width: 130px; height: 75px; background: #0099cb; border-bottom: 1px solid #0086b2;}
.Tap li:last-child {border-bottom: 1px solid #fff;}
.Tap li a {display: block; line-height: 75px; text-align: center;  color: #fff;}
.Tap li:last-child a {border-bottom: 0;}
.fas {font-size: 1.7em;}
.active .fas {color: #0099cb;}
.fa-fw {width: 100px;}

/*-----reservation slider-----*/
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
    margin-bottom: 15px;
    height: 300px;
    background: #fff;
}

/*-----ct_right-----*/
.ct_right { float: right; width: 515px; padding: 20px 0 0 50px;}
.ct_right h2 {position: relative; width: 350px; font-size: 65px; letter-spacing: -1px;}
.ct_right h2:after {content: ''; position: absolute; width: 90px; height: 5px; background: #000; bottom: 0;right: 0;}
.ct_right h3 {font-size: 30px; letter-spacing: -4px; font-weight: normal;}

.container1 {width: 100%; height: 240px; background: #aaa;}
.cont1 {position: relative; float: left; width: 235px; height: 240px; background: #ccc; background: url(../img/contents_img01.png)no-repeat;}
.cont2 {position: relative; float: right; width: 235px; height: 240px; background: #eee; background: url(../img/contents_img02.png)no-repeat;}

.container1 h5 {float: left; color: #fff; line-height: 50px; font-size: 16px;}
.container1 p {float: right; line-height: 50px; font-size: 16px; color: #6ec662; padding-left: 10px; margin-right: 20px; letter-spacing: 0.5px; font-weight: bold;}
.container1 a {position: absolute; right: 20px; margin-top: 17px; width: 20px; background: url(../img/Union.png)no-repeat 5px 0; }
.bar {position: absolute; width: 100%; height: 50px; background: #152630; bottom: 0; padding: 0 25px;}

.btn {position: absolute; bottom: 0; height: 65px; color: #fff; padding: 10px 15px; width: 100%; font-weight: bold;}
.btn1 {background: #529351;}
.btn2 {background: #152630;}
.btn3 {background: rgba(0,0,0,0.5);}
.btn4 {background: #44619d; position: absolute; left: 0; bottom: 0;}

/*---cont3, cont4 -----*/
.bx-wrapper .bx-pager {
    display: none;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 80px;
    margin-top: -16px;
    outline: 0;
    width: 33px;
    height: 50px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position:  -33px;
}
.bx-wrapper .bx-next {
    right: 0;
    background: url(../img/slider_icon.png) no-repeat;
    background-position: -33px;
    opacity: 0.5;
}
.bx-wrapper .bx-prev {
    left: 0;
    background: url(../img/slider_icon.png) no-repeat;
    opacity: 0.5;
}

.cont5 {position: relative; overflow: hidden;}
.cont6 {background: url(../img/contents_img06.png)no-repeat;}
.cont7 {background: url(../img/contents_img07.png)no-repeat;}
.cont8 {background: url(../img/contents_img08.png)no-repeat;}
.cont9 {background: url(../img/contents_img09.png)no-repeat;}
.cont10 {background: url(../img/contents_img10.png)no-repeat;}

.conBtm {width: 100%; height: 495px;}
.conBtm>ul {float: left;}
.conBtm>ul>li {position: relative; float: left; width: 235px; height: 240px; margin-bottom: 15px;}
.conBtm>ul>li + li {margin-left: 15px;}
.conBtm>ul>li:nth-child(5) {margin-left: 0;}
.cont5 h2 {color: #fff; text-align: center; padding-top: 15px; position: absolute; top: 0; left: 50%; transform: translate(-50%);}
.cont5 img { position: absolute; top: 0; left: 0;}
.cont5:hover img {transition: all 1s; transform: scale(1.2); overflow: hidden; display: block;}

.cont6 {padding: 20px; position: relative;}
.cont6 a {display: block;}
.cont6>a>p {font-size: 14px; font-weight: bold; color: #5d5d5d;}
.cont6 h5 {color: #44619d;}
.cont7, .cont8, .cont9, .cont10 {position: relative; overflow: hidden;}
.cont7:hover .over {top: 0;}
.cont8:hover .over2 {top: 0;}
.cont9:hover .over2 {top: 0;}
.cont10:hover .over {top: 0;}

/*------contents overlay-----*/

.over {width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: absolute; left: 0; top: 100%; transition: 0.5s; }
.over h3 {text-indent: 0px; color: #fff; font-size: 22px; margin: 0 auto; width: 160px; margin-top: 25px; margin-bottom: 10px; text-align: center;}
.over p {font-size: 14px; text-align: center; color: #fff; margin-bottom: 15px;}
.over h3>img {float: left;}
.over>img {margin: 0 auto; display: block;}

.over2 {width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: absolute; left: 0; top: 100%; transition: 0.5s;}
.over2 h3 {text-indent: 0px; color: #fff; font-size: 22px; margin: 0 auto; width: 150px; margin-top: 5px; margin-bottom: 10px; text-align: center;}
.over2 p {font-size: 14px; text-align: center; color: #fff;}
.over2 h3>img {float: left; margin-top: -5px;}
.over2>img {margin: 0 auto; display: block; margin-top: 100px;}


.ft_menu li {float: left;}
.ft_menu li a {display: block; line-height: 40px; font-size: 14px; font-weight: bold;}
.ft_menu li + li {margin-left: 25px;}

.copy {float: left; font-size: 12px; color: #5d5d5d;}


/*----------sub_page------------*/


